h3 {
  font-family: 'Telugu Sangam MN';
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
  color: #484644;
  margin: 0;
}


/*   Colors Variables */
/*----------------------------*/
$white: #ffffff
