.programs {
  width: 80%;
  height: 600px;
  text-align: center;
  border: 1px red solid;
  margin: 0 auto;
  background-color: $white;

  &__header {
    height: 100px;
    border: 1px blue solid;
  }

  &__card-container {
    display: flex;
    margin: 0 auto;

    &__card {
      width: 23%;
      height: 400px;
      box-shadow: 0 0 30px 0 rgba(54, 54, 54, 0.29);
      background: $white;
      z-index: 1;
      position: relative;
      left: 20px;
      top: 25px;


      &__img {
        height: 180px;
        border-bottom: 1px red solid;

      }

      &__title {
        height: 50px;
        border-bottom: 1px red solid;

      }

      &__separator {
        height: 10px;
        border-bottom: 1px red solid;

      }

      &__content {
        padding: 10px 20px 0 20px ;
      }


      &--active {
        width: 28%;
        height: 450px;
        box-shadow: 0 0 30px 0 rgba(54, 54, 54, 0.29);
        z-index: 5;
        position: relative;
        left: 20px;
        background: $white;
        top: 5px;

      }

      &--farthest {
        width: 22%;
        height: 370px;
        box-shadow: 0 0 30px 0 rgba(54, 54, 54, 0.29);
        position: relative;
        left: 40px;
        top: 45px;
      }
    }
  }
}
